@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

@media screen and (max-width: 845px) {

    .big_font {
        color: #364A17;
        text-align: center;
        font-family: 'Pretendard';
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.5px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .input_idpassword {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_idpassword > p {
        color: #2C2C2C;
        font-family: 'Pretendard';
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.5px;
        margin: 8px 0;
    }

    .id {
        margin-right: 200px !important;
    }

    .pw {
        margin-right: 170px !important;
    }

    .input_id, .input_password {
        display: flex;
        width: 315px;
        height: 45px;
        padding: 12px 10px;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        border: 1.5px solid #AEAEAE;
    }

    .input_id:focus,
    .input_password:focus {
        outline: 1.5px solid #83AC3E !important;
    }

    .two_button {
        margin-top: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100px; 
        margin-bottom: 17px;
    }

    .up_button {
        width: 315px;
        height: 50px;
        padding: 0 50px;
        color: #484848;
        text-align: center;
        margin: 8px 0;
        border-radius: 10px;
        line-height: 50px; 
        font-size: 15px;
        font-family: 'Pretendard';
        font-weight: 400;
        letter-spacing: -0.5px;
    }

    .up_button {
        background:#C7E488;
        border: none;
        outline: none;
    }
}