@font-face {
    font-family: 'Pretendard';
    src: url('/font/PretendardVariable.ttf') format('truetype');
}

@media screen and (max-width: 845px) {
    /* 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

/* 프로필 헤더 스타일 */
.profile-header {
    text-align: center;
    margin-top: 20px;
    color: #4D683D;
}

/* 프로필 이미지 스타일 */
.profile-image {
    width: 80px;
    height: 80px;
    background-color: #FFD5D5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.profile-image i {
    font-size: 30px;
    color: #D58F8F;
}

/* 정보 박스 스타일 */
.info-box {
    background: #E9F4CF;
    padding:20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.info-box table {
    width: 100%;
    border-collapse: collapse;
}

.info-box th, .info-box td {
    padding: 10px;
    text-align: left;
}

.info-box td{
    text-align: right; 
}

.info-box th {
    font-weight: bold;
    color: #333;
}

.babsae {
    margin-top: 190px;
    z-index: -1;
}

.one {
    position: absolute;
    top: 60%; /* body의 중앙 위치 */
    transform: translateY(-100%); /* 중앙에서 위로 이동 */
}


}