@media screen and (max-width: 845px) {

    nav {
        position: fixed;
        bottom: 0;
    }

    .border_line {
        width: 392px;
        border: 1.5px solid #83AC3E;
        background: #FFF;
        margin-bottom: 1rem;
    }

    .nav_three_button {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        padding-bottom: 18px;
    }
}
